button {
	&:active {
		transform: scale(0.98) !important;
	}
}

.btn {
	font-family: 'Anton', 'NeueHaasDisplay', sans-serif;
	padding: 17px 48px 15px 48px;
	border-radius: 80px;
	display: inline-flex;
	align-items: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	transition: $transition;
	white-space: nowrap;
	cursor: pointer;

	@media (max-width: $mobile) {
		padding: 16px 48px;
		font-size: 14px;
	}

	&:active {
		transform: scale(0.98);
	}

	&-primary {
		color: $primary-black;
		background: $primary-ohra;
		&:hover {
			background: $ohra-hover;
		}
		&:disabled {
			background: $ohra-disabled;
		}

		@media (max-width: $tablet) {
			padding: 13px 46px 13px 46px;
			font-size: 14px;
		}
		@media (max-width: $mobile) {
			padding: 10px 24px 10px 24px;
			font-size: 12px;
		}
	}

	&-gradient {
		color: $white;
		background-image: linear-gradient(70deg, #ff01c7 0%, #3c00c3 50%, #ff01c7 100%);
		background-size: 250% 100%;
		background-position: 0% 0;
		transition: background-position 0.5s ease-out;
		@media (max-width: $mobile) {
			padding: 16px 48px;
			font-size: 14px;
		}

		&:hover {
			background-position: -100% 0;
		}
	}

	&-underline {
		position: relative;
		text-decoration: none;
		transition: $animate;
		&::before {
			content: '';
			position: absolute;
			display: block;
			left: 0;
			bottom: -2px;
			width: 100%;
			height: 2px;
			background: $white;
			transform-origin: 100% 0;
			transition: transform $animate;
			transform: scaleX(0);
		}

		&:hover::before {
			transform: scaleX(1);
			transform-origin: 0 0;
		}
	}
}
