button {
	&:active {
		transform: scale(0.98) !important;
	}
}

.btn {
	font-family: 'Anton', 'NeueHaasDisplay', sans-serif;
	padding: 17px 48px 15px 48px;
	border-radius: 80px;
	display: inline-flex;
	align-items: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	transition: $transition;
	white-space: nowrap;
	cursor: pointer;

	@media (max-width: $mobile) {
		padding: 16px 48px;
		font-size: 14px;
	}

	&:active {
		transform: scale(0.98);
	}

	&-primary {
		color: $primary-black;
		background: $primary-ohra;
		&:hover {
			background: $ohra-hover;
		}
		&:disabled {
			background: $ohra-disabled;
		}

		@media (max-width: $tablet) {
			padding: 13px 46px 13px 46px;
			font-size: 14px;
		}
		@media (max-width: $mobile) {
			padding: 10px 24px 10px 24px;
			font-size: 12px;
		}
	}

	&-gradient {
		color: $white;
		background-image: linear-gradient(70deg, #ff01c7 0%, #3c00c3 50%, #ff01c7 100%);
		background-size: 250% 100%;
		background-position: 0% 0;
		transition: background-position 0.5s ease-out;
		@media (max-width: $mobile) {
			padding: 16px 48px;
			font-size: 14px;
		}

		&:hover {
			background-position: -100% 0;
		}
	}

	&-underline {
		position: relative;
		text-decoration: none;
		transition: $animate;

		&::before {
			content: '';
			position: absolute;
			display: block;
			left: 0;
			bottom: -2px;
			width: 100%;
			height: 2px;
			background: $white;
			transform-origin: 100% 0;
			transition: transform $animate;
			transform: scaleX(0);
		}

		&:hover::before {
			transform: scaleX(1);
			transform-origin: 0 0;
		}

		&-gradient {
			padding: 0;
			border-radius: 0;
			@include gradient-text($primary-gradient);
			&::before {
				height: 1px;
				background: $primary-gradient;
			}
		}
	}

	&-outline {
		padding: 13px 32px 13px 32px;
		background: none;
		color: $white;
		border: 1px solid $primary-magneta;
		&.active {
			background: $primary-magneta;
		}
	}
}

.select {
	position: relative;
	font-size: 14px;
	line-height: 1000%;
	select {
		display: none;
	}
	button:active {
		transform: scale(1) !important;
	}
	&._select-open {
		.select__title {
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom: none;
			background: white;
			color: $primary-magneta;
			&:after {
				transform: rotate(-270deg);
			}
		}
		.select__options {
			background: white;
		}
		.select__option {
			color: $primary-black;
			width: 100%;
			text-align: left;
			border-top: 1px solid $black-10;
		}
	}
	// .select__item
	&__item {
		position: relative;
	}
	// .select__title
	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 40px;
		color: $white;
		border: 1px solid $primary-magneta;
		background-color: transparent;
		cursor: pointer;
		padding: 0 30px 0 24px;
		border-radius: 80px;
		&:after {
			font-family: 'icomoon' !important;
			content: '\e900';
			transform: rotate(-90deg);
			transition: transform 0.3s ease 0s;
		}
	}
	// .select__value
	&__value {
		font-family: 'Anton', 'NeueHaasDisplay', sans-serif;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		span {
			height: auto;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: $white;
		display: none;
		position: absolute;
		top: 40px;

		min-width: 100%;
		left: 0;
		background-color: $primary-black;
		border: 1px solid $primary-magneta;
		border-top: none;
		padding: 0px 0px 5px 24px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		z-index: 2;
	}
	// .select__option
	&__option {
		line-height: 100%;
		display: block;
		font-family: 'Anton', 'NeueHaasDisplay', sans-serif;
		cursor: pointer;
		padding: 10px 0;
		background: none;
		color: $white;
		color: $primary-ohra;
	}

	[hidden] {
		display: none;
	}
}
