.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'input1 input2' 'input3 input3' 'textarea textarea';
		column-gap: 24px;
		row-gap: 32px;
		width: 100%;
		max-width: 100%;
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
			grid-template-areas: 'input1' 'input2' 'input3' 'textarea';
		}
	}
	&__item {
		position: relative;
		height: 32px;
		border-bottom: 1px solid $white;
		transition: border-color 0.3s ease;

		&:nth-child(1) {
			grid-column: input1;
		}
		&:nth-child(2) {
			grid-column: input2;
		}
		&:nth-child(3) {
			grid-column: input3;
		}

		&._error {
			border-color: $red;
			.content-name {
				color: $red !important;
			}
		}

		input {
			height: 100%;
			width: 100%;
			background: none;
			outline: none;
			color: $white;
		}
		&_textarea {
			height: 32px;
			grid-column: textarea;
			.form__error {
				margin-top: -4px;
			}
		}
		textarea {
			font-family: 'NeueHaasDisplay', sans-serif;
			// position: absolute;
			// top: 0;
			// left: 0;
			// right: 0;
			// bottom: 0;
			width: 100%;
			height: 100%;
			padding-top: 4px;
			outline: none;
			resize: none;
			background: transparent;
			color: $white;
		}
		// * FLOAT LABELS
		label {
			position: absolute;
			bottom: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
		.content-name._active {
			transform: translateY(-100%);
		}
		.content-name {
			font-family: 'NeueHaasDisplay', sans-serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 16px;
			color: $black-50;
			transform: translateX(0%);
			position: absolute;
			transition: color 0.3s ease, transform 0.3s ease;
		}
	}
	button {
		margin-top: 48px;
		@media (max-width: $mobile) {
			margin-top: 40px;
		}
	}

	// * ERROR
	&__error {
		font-family: 'NeueHaasDisplay', sans-serif;
		margin-top: 2px;
		font-size: 12px;
		color: $red;
	}
}
