.locale-switch {
	position: relative;
	a {
		&:hover {
			color: $orange;
		}
	}
	&-head {
		//transition: $transition;
		border: 1px solid #ededef;
		padding: 16px;
		width: 152px;
		height: 48px;
		border-radius: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		&._spoller-active {
			border-bottom: transparent;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-top-left-radius: 25px;
			border-top-right-radius: 25px;
			.locale-switch-arrow {
				transform: rotate(-180deg);
			}
			& + * {
				top: 100%;
				border-color: #ededef;
				opacity: 1;
			}
		}
		& + * {
			opacity: 0;
			border: 1px solid transparent;
			border-top: transparent;
			border-bottom-left-radius: 25px;
			border-bottom-right-radius: 25px;
			position: absolute;
			width: 100%;
			top: 100%;
			left: 0;
			background: white;
			padding: 16px;
			padding-top: 8px;
			z-index: 2;

			li {
				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}
		}
	}
	&-current {
		display: flex;
		justify-content: space-between;
		align-items: center;
		span {
			@extend %text-16;
		}
		svg {
			margin-right: 4px;
		}
	}
	&-arrow {
		width: 16px;
		height: 16px;
		transition: $transition;
	}
}
