.pagination {
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	@extend %flex-center;
	margin-top: 40px;
	@media (max-width: $mobile) {
		margin-top: 24px;
	}

	a {
		@extend %flex-center;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 1px solid transparent;
		&:hover {
			background: $orange;
			color: white;
		}
	}
	&__dots {
		color: #61616a;
	}
	&__prev,
	&__next {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $orange;
		width: 24px;
		height: 24px;
		border-radius: 100%;
		transition: $transition;
		&:hover {
			background: $orange;
			svg {
				width: 12px;
				fill: white;
			}
		}
		&._disable {
			opacity: 0.7;
			pointer-events: none;
		}
	}
	&__prev {
		margin-right: 10px;
		svg {
			transform: rotate(-180deg);
		}
	}
	&__next {
		margin-left: 10px;
	}
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;

		li {
			text-align: center;
			vertical-align: middle;
			width: 24px;
			height: 24px;
			@extend %flex-center;
		}
	}
	&__item {
		position: relative;
		color: #61616a;

		&._active {
			color: $orange;
		}
	}
}
