.partners-slider {
	display: flex;
	overflow: visible !important;
	margin-top: 120px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: -20px;
		left: -20vh;
		width: 200vh;
		height: calc(100% + 40px);
		background: white;
		z-index: -1;
		pointer-events: none;
	}
	@media (max-width: $mobile) {
		margin-top: 32px;
	}

	&__swiper {
		align-items: center;
	}
	&-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #a2a2a7;
		border-radius: 10px;
		transition: $transition;
		background: white;
		height: 160px;
		padding: 16px;
		position: relative;
		@media (max-width: $mobile) {
			border-color: $orange;
		}
		&:hover {
			filter: drop-shadow(0px 4px 15px rgba(25, 28, 30, 0.2));
			border-color: $orange;
		}
	}
}
