.popup {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(black, 0.5);
	padding: 20px;
	z-index: 9999;
	overflow-y: auto;
	z-index: -1;

	&._open {
		transition-delay: 0s;
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		display: flex;
		z-index: 9999;
		.popup-content {
			transform: scale(1);
		}
	}

	&-head {
		@extend %flex-along-center;
		margin-bottom: 28px;
		h4 {
			font-weight: 700;
			font-size: 18px;
			line-height: 18px;
			color: #2b2f2f;
		}
	}

	&-content {
		padding: 35px 32px 32px 32px;
		margin: auto;
		border-radius: 20px;
		width: 100%;
		max-width: 1080px;
		position: relative;
		overflow: hidden;
		transition: all 0.5s ease;
		transform: scale(0);
		background: $primary-black;
		@media (min-width: $tablet) {
			margin: 100px auto 0 auto;
		}
		@media (max-width: $tablet) {
			max-width: 648px;
		}
		@media (max-width: $mobile) {
			padding: 16px;
		}
	}

	&-close {
		cursor: pointer;
	}

	.popup-form-submit-row {
		margin-top: 40px;
		display: grid;
		align-items: center;
		grid-template-columns: auto 1fr;
		column-gap: 40px;
		row-gap: 10px;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		text-align: right;
		color: #a8a5a8;
		@media (max-width: $mobile) {
			margin-top: 24px;
			grid-template-columns: 1fr;
			text-align: center;
		}
		a {
			transition: $transition;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}

	fieldset {
		position: relative;
	}

	input {
		width: 100%;
		outline: none;
		padding: 16px 0;
		border-bottom: 1px solid #585c62;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
		@include placeholder-content {
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;
			text-transform: uppercase;
			color: #a4a4aa;
		}
	}
}

#popup-video {
	.popup-content {
		padding: 0;
		position: relative;
		overflow: visible;
	}
	.popup-close {
		position: absolute;
		top: -30px;
		right: -4px;
	}
}

#popup-thank {
	text-align: center;
	.popup-close {
		display: flex;
		justify-content: end;
	}
	h2 {
		margin: 20px 0;
		& ~ * {
			margin-bottom: 20px;
		}
	}
}

.file__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	z-index: 10;
	&.full ~ .icon-pin {
		z-index: 11;
		.cross-icon {
			display: block;
		}
		.pin-icon {
			display: none;
		}
	}
}
.file__button {
	display: flex;
	align-items: center;
	padding: 22px 0 16px 0;
	border-bottom: 1px solid #585c62;

	.message-text {
		overflow: hidden;
		padding-right: rem(32);
		display: block;

		font-weight: 500;
		font-size: 14px;
		line-height: 14px;
		text-transform: uppercase;
		color: #a4a4aa;
	}
}
.icon-pin {
	position: absolute;
	top: 30px;
	right: 0;
	transform: translate(0, -50%);
	cursor: pointer;
	.cross-icon {
		display: none;
	}
}
