.popup {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(black, 0.5);
	padding: 20px;
	z-index: 9999;
	overflow-y: auto;
	z-index: -1;

	&._open {
		transition-delay: 0s;
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		display: flex;
		z-index: 9999;
		.popup-content {
			transform: translate(0);
			opacity: 1;
		}
	}

	&-head {
		@extend %flex-along-center;
		margin-bottom: 28px;
		h4 {
			font-weight: 700;
			font-size: 18px;
			line-height: 18px;
			color: #2b2f2f;
		}
	}

	&-content {
		padding: 35px 32px 32px 32px;
		margin: auto;
		border-radius: 20px;
		width: 100%;
		max-width: 1080px;
		position: relative;
		overflow: hidden;
		transition: all 0.5s ease;
		transform: translateY(20px);
		opacity: 0;
		background: $primary-black;
		// @media (min-width: $tablet) {
		// 	margin: 100px auto 0 auto;
		// }
		@media (max-width: $tablet) {
			max-width: 648px;
		}
		@media (max-width: $mobile) {
			padding: 16px;
		}
	}

	&-close {
		cursor: pointer;
	}
}

#popup-video {
	.popup-content {
		padding: 0;
		position: relative;
		overflow: visible;
	}
	.popup-close {
		position: absolute;
		top: -30px;
		right: -4px;
	}
	&:not(._open) {
		video {
			display: none;
		}
	}
}

#popup-thank {
	text-align: center;
	.popup-content {
		max-width: 648px;
		border-radius: 20px;
		padding: 80px 10px;
		position: relative;
		overflow: visible;
	}
	h2 {
		font-size: 56px;
		margin-bottom: 20px;
	}
	p {
		font-family: $ff-2, serif;
	}
	.popup-close {
		position: absolute;
		top: 44px;
		right: 40px;
		@media (max-width: $mobile) {
			top: 28px;
			right: 20px;
		}
		img,
		svg {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

#popup-callback {
	.popup-content {
		max-width: 648px;
		border-radius: 20px;
		padding: 40px;
		position: relative;
		overflow: visible;
		@media (max-width: $mobile) {
			padding: 24px;
		}
	}
	.popup-close {
		position: absolute;
		top: 44px;
		right: 40px;
		@media (max-width: $mobile) {
			top: 28px;
			right: 20px;
		}
		img,
		svg {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	h4 {
		font-size: 32px;
		line-height: 32px;
	}
	.form {
		margin-top: 56px;
		@media (max-width: $mobile) {
			margin-top: 40px;
		}
	}
	.btn {
		justify-content: center;
		min-width: 160px;
		span {
			width: 100%;
		}
	}
}

#popup-cookie {
	top: auto;
	//left: auto;
	//right: auto;
	background: none;
	.popup-content {
		box-shadow: 1px 1px 1px $primary-red;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		border-radius: 20px;
		max-width: 1440px;
		padding: 36px 60px;
		gap: 40px;
		margin: auto auto 0 auto;
		@media (min-width: 1919px) {
			max-width: 1600px;
		}
		@media (max-width: $mobile) {
			border-radius: 10px;
			padding: 24px;
		}
	}
	p {
		max-width: 760px;
	}
	.btn {
		color: white;
	}
	.btn:first-child {
		padding-left: 0;
		padding-right: 0;
		margin-right: 20px;
	}
	.btn-gradient {
		@media (max-width: $mobileSmall) {
			padding: 16px 22px;
		}
	}
}
