.swiper {
	&-js {
		position: relative;
	}

	&-container {
		width: 100%;

		* :focus {
			outline: none;
		}

		* {
			&::selection {
				background-color: transparent;
			}

			&::-moz-selection {
				background-color: transparent;
			}
		}
	}
}

.swiper-button-prev,
.swiper-button-next {
	&:focus {
		outline: none;
	}
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: -20px;
}

.slider-nav {
	display: grid;
	grid-template-columns: 64px 30px 64px;
	align-items: center;
	gap: 44px;
	@media (max-width: $tablet) {
		width: 100%;
		grid-template-columns: 48px 1fr 48px;
		grid-template-areas: 'fb . sb';
		button {
			&:first-child {
				grid-column: fb;
			}
			&:last-child {
				grid-column: sb;
			}
		}
	}
	span {
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
		margin: 0;
	}
	.swiper-pagination-current {
		color: $black-30;
		margin-right: 5px;
	}
	.swiper-pagination-total {
		margin-left: 5px;
	}
	button {
		@extend %flex-center;
		width: 64px;
		height: 64px;
		border-radius: 100%;
		border: 1px solid $white;
		cursor: pointer;
		transition: $transition;
		background: none;
		color: $white;
		@media (max-width: $tablet) {
			width: 48px;
			height: 48px;
		}
		&._disabled {
			pointer-events: none;
			opacity: 0.6;
		}
		&:hover {
			background: $white;
			color: $primary-black;
		}
	}
}

.s-partners {
	overflow: hidden;
	.s-headline {
		p {
			color: #76777e;
		}
	}
}
.s-partners-content {
	@media (max-width: $mobile) {
		padding: 0 !important;
		border-color: transparent !important;
	}
}

.news-slider {
	position: relative;
	overflow: visible;

	[data-swiper-control='news-slider-prev'],
	[data-swiper-control='news-slider-next'] {
		@extend %flex-center;
		position: absolute;
		width: 48px;
		height: 48px;
		border-radius: 100%;
		background: $primary-indigo;
		z-index: 2;
		top: 40%;
		cursor: pointer;
		@media (max-width: $mobileSmall) {
			position: relative;
			top: 0;
		}
		&:hover {
			background: #605584;
		}
	}

	[data-swiper-control='news-slider-next'] {
		right: 24px;
		@media (max-width: $mobileSmall) {
			right: 0;
		}
	}

	[data-swiper-control='news-slider-prev'] {
		left: 24px;
		@media (max-width: $mobileSmall) {
			left: 0;
		}
	}

	.slider-nav {
		display: flex;
		justify-content: space-between;
		@media (max-width: $mobileSmall) {
			margin-top: 24px;
		}
	}
}
