.swiper {
	&-js {
		position: relative;
	}

	&-container {
		width: 100%;

		* :focus {
			outline: none;
		}

		* {
			&::selection {
				background-color: transparent;
			}

			&::-moz-selection {
				background-color: transparent;
			}
		}
	}
}

.swiper-button-prev,
.swiper-button-next {
	&:focus {
		outline: none;
	}
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: -20px;
}

.sliders-controls {
	margin-top: 32px;
	display: grid;
	grid-template-columns: 56px 56px;
	gap: 16px;
	@media (max-width: $mobile) {
		width: 100%;
		grid-template-columns: 56px 1fr 56px;
		grid-template-areas: 'fb . sb';
		button {
			&:first-child {
				grid-column: fb;
			}
			&:last-child {
				grid-column: sb;
			}
		}
	}
	button {
		@extend %flex-center;
		width: 56px;
		height: 56px;
		border-radius: 100%;
		border: 1px solid $orange;
		cursor: pointer;
		background: white;
		transition: $transition;
		svg {
			transition: $transition;
			fill: $orange;
		}
		&:first-child {
			svg {
				transform: rotate(180deg);
			}
		}
		&._disabled {
			pointer-events: none;
			opacity: 0.6;
		}
		&:hover {
			background: $orange;
			svg {
				fill: white;
			}
		}
	}
	&-box {
		display: flex;
		justify-content: flex-end;
		@media (max-width: $mobile) {
			justify-content: space-between;
		}
	}
}

.s-partners {
	overflow: hidden;
	.s-headline {
		p {
			color: #76777e;
		}
	}
}
.s-partners-content {
	@media (max-width: $mobile) {
		padding: 0 !important;
		border-color: transparent !important;
	}
}
