.s-about {
	&-content {
		display: grid;
		grid-template-columns: 1fr;
		gap: 48px;
		.btn {
			justify-self: center;
			@media (max-width: 620px) {
				justify-self: baseline;
			}
		}
		@media (max-width: $mobile) {
			gap: 40px;
		}
	}
	&-list {
		@extend %listCounter;
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 24px;
		@media (max-width: 1340px) {
			grid-template-columns: 2fr 0.9fr;
		}
		@media (max-width: $mobile) {
			gap: 16px;
		}
		@media (max-width: 620px) {
			grid-template-columns: 1fr;
		}
	}
	&-item {
		position: relative;
		display: inline-grid;
		grid-template-columns: 32px auto;
		&:before {
			font-family: 'NeueHaasDisplay';
			align-self: flex-start;
			font-weight: 300;
			font-size: 14px;
			line-height: 150%;
		}
		span {
			display: inline;
		}
		@media (max-width: 620px) {
			grid-template-columns: 1fr;
		}
		&.with-img {
			grid-template-columns: 32px auto auto;
			@media (max-width: 620px) {
				grid-template-columns: 1fr;
			}
		}
	}
	&-image-ibg {
		width: 400px;
		height: 264px;
		border-radius: 20px;
		overflow: hidden;
		@media (min-width: 620px) and (max-width: 1300px) {
			position: absolute;
			top: 50%;
			left: 90%;
			transform: translate(-50%, -50%);
			z-index: -1;
			width: 264px;
			height: 135px;
		}
		@media (max-width: 620px) {
			width: 100%;
			height: 224px;
			margin-top: 16px;
		}
	}
}
