.s-advantages {
	.numbers {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 24px;
		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
			gap: 0;
		}
		&-head {
			position: relative;
			[data-lottie='bubble'] {
				@extend %absolute-center;
				width: 500px;
				height: 500px;
				z-index: 2;
			}
		}
		&-number {
			transition: $transition;
			&:nth-child(1),
			&:nth-child(2) {
				@media (max-width: $tablet) {
					border-bottom: 1px solid #323133;
				}
			}
			&:nth-child(2) {
				@media (max-width: $tablet) {
					.numbers-head {
						border-right: none !important;
					}
					.numbers-img:after {
						display: none;
					}
				}
			}
			&:nth-child(2),
			&:nth-child(4) {
				@media (max-width: $tablet) {
					.numbers-head {
						padding-left: 16px;
					}
					.numbers-img {
						padding: 16px 0 0 10px !important;
					}
				}
			}
			&:nth-child(3),
			&:nth-child(4) {
				@media (max-width: $tablet) {
					.numbers-head {
						padding-top: 10px;
					}
				}
			}
			span {
				font-size: 120px;
				line-height: 100%;
				text-transform: uppercase;
				@media (max-width: $tablet) {
					font-size: 88px;
				}
			}
			h4 {
				@include gradient-text($primary-gradient);
				margin-top: 56px;
				@media (max-width: $tablet) {
					margin-top: 16px;
				}
			}
			&:not(:last-child) {
				.numbers-head {
					border-right: 1px solid #323133;
				}
			}
			&:last-child {
				.numbers-img:after {
					display: none;
				}
			}
			&:hover {
				span {
					@media (min-width: $tablet) {
						color: $black-80;
					}
				}
				.numbers-img {
					&:after {
						transform: scaleY(1);
					}
				}
				.numbers-image-ibg {
					opacity: 1;
				}
			}
		}
		&-img {
			padding: 24px 16px 0 0;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 1px;
				height: 100%;
				background: #323133;
				transition: $transition;
				transform-origin: 0 0;
				transform: scaleY(0);
				@media (max-width: $tablet) {
					transform: scaleY(1);
				}
			}
			@media (max-width: $tablet) {
				padding: 16px 10px 0 0;
				padding-bottom: 10px;
			}
		}
		&-image-ibg {
			height: 202px;
			overflow: hidden;
			border-radius: 20px;
			transition: $transition;
			opacity: 0;
			@media (max-width: $tablet) {
				opacity: 1;
			}
			@media (max-width: $mobileSmall) {
				height: 109px;
			}
		}
	}
}
