.article-content {
	display: grid;
	grid-template-columns: 200px 1fr 200px;
	max-width: 1320px;
	margin: 40px auto 0 auto;
	gap: 24px;
	@media screen and (min-width: 1919px) {
		max-width: 1600px;
	}
	@media (max-width: 1340px) {
		padding: 0 var(--content-padding);
	}
	@media (max-width: 1200px) {
		grid-template-columns: 200px 1fr;
	}
	@media (max-width: 850px) {
		grid-template-columns: 1fr;
	}
	@media (max-width: $mobile) {
		margin: 0 auto;
	}
	.project-image-ibg {
		margin-top: 80px;
		@media (max-width: $mobile) {
			margin-top: 40px;
		}
	}
	.project-property {
		margin-bottom: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.project-numbers {
		margin-top: 80px;
	}
	.text-18 {
		line-height: 32px;
		@media (max-width: $mobile) {
			line-height: 24px;
		}
	}
	.s-project {
		h4 {
			font-weight: 300;
			text-transform: none;
			font-family: $ff-2, sans-serif;
			font-size: 24px;
			line-height: 36px;
			margin-top: 40px;
			margin-bottom: 40px;
			@media (max-width: $mobile) {
				margin-top: 24px;
				margin-bottom: 32px;
			}
		}
		h5 {
			font-size: 18px;
			line-height: 24px;
			margin: 40px 0;
			@media (max-width: $mobile) {
				margin-top: 16px;
				margin-bottom: 24px;
			}
		}
	}
}
.article-sidebar {
	h4 {
		margin-top: 120px;
	}
	@media (max-width: 850px) {
		display: none;
	}
}
.article-menu {
	position: sticky;
	top: 24px;
	ul {
		margin-top: 24px;
		li {
			&:not(:last-child) {
				padding-bottom: 12px;
				margin-bottom: 12px;
				border-bottom: 1px solid $black-90;
			}
		}
		a {
			color: $black-70;
			&.is-selected {
				color: $white;
			}
		}
	}
}
.article-head {
	border-bottom: 1px solid $black-90;
	padding-bottom: 32px;
	margin-bottom: 32px;
	@media (max-width: $mobile) {
		padding-bottom: 24px;
		margin-bottom: 24px;
	}
	h1 {
		font-size: 48px;
		line-height: 56px;
		@media (max-width: $mobile) {
			font-size: 18px;
			line-height: 24px;
		}
	}
}
.article-title {
	margin-bottom: 32px;
	@media (max-width: 850px) {
		display: grid;
		grid-template-columns: 40px 1fr;
		align-items: center;
		gap: 16px;
	}
	@media (max-width: $mobile) {
		margin-bottom: 24px;
	}
}
.article-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width: $mobileSmall) {
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}
}
.article-author {
	display: grid;
	grid-template-columns: 64px 1fr;
	max-width: 314px;
	background: $black-90;
	border-radius: 10px;
	padding: 16px;
	gap: 8px;
	@media (max-width: $mobileSmall) {
		max-width: 100%;
		width: 100%;
	}
	&-image-ibg {
		width: 64px;
		height: 64px;
		border-radius: 100%;
	}
	&-info {
	}
	&-name {
		margin-bottom: 16px;
		span:first-child {
			color: $black-30;
			margin-right: 8px;
		}
	}
	&-links {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.btn-underline {
			font-size: 14px;
			line-height: 100%;
		}
		a {
			background: $black-90;
			i {
				color: $white;
				font-size: 12px;
			}
		}
	}
}
.article-back {
	@extend %flex-center;
	width: 48px;
	height: 48px;
	border-radius: 100%;
	background-image: linear-gradient(70deg, #ff01c7 0%, #3c00c3 50%, #ff01c7 100%);
	background-size: 250% 100%;
	background-position: 0% 0;
	transition: background-position 0.5s ease-out;
	@media (max-width: 850px) {
		width: 40px;
		height: 40px;
		font-size: 10px;
	}
	&:hover {
		background-position: -100% 0;
	}
}
