.s-benefits {
	.s-headline {
		h3 {
			color: white;
		}
		margin-bottom: 32px;
		@media (max-width: $mobile) {
			margin-bottom: 24px;
		}
	}
	.benefit-card {
		background: $light-blue;
		border-radius: 10px;
		overflow: hidden;
		position: relative;
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
		&:after {
			content: '';
			position: absolute;
			inset: 16px;
			border: 1px solid rgba(255, 255, 255, 0.5);
			border-radius: 10px;
		}
		&-text {
			padding: 24px 32px 32px 32px;
			@media (max-width: $mobile) {
				padding: 10px 20px 20px 20px;
			}
		}
		h3 {
			font-weight: 700;
			font-size: 32px;
			color: white;
			margin-bottom: 16px;
			@media (max-width: $mobile) {
				font-size: 18px;
				margin-bottom: 8px;
			}
		}
		p {
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
			color: #d9d9dc;
		}
		&-img {
			height: 274px;
			position: relative;
			overflow: hidden;
			@media (max-width: $mobile) {
				height: 200px;
			}
			img {
				width: 100%;
				height: 100%;
				@extend %cover;
				object-fit: cover;
				transition: $transition;
			}
		}
	}
}
