.s-contacts {
	&-grid {
		display: grid;
		grid-template-columns: 1fr 648px;
		gap: 42px;
		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
		}
	}
	form {
		.btn {
			align-self: flex-start;
		}
	}
}
