.s-full-image {
	overflow: hidden;
	padding-top: 260px;
	@media (max-width: $tablet) {
		padding-top: 180px;
	}
	&-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 80px;
		gap: 56px;
	}
	&-item {
		max-width: 312px;
		display: flex;
		flex-direction: column;
		position: relative;
		[data-lottie] {
			width: 275px;
			height: 275px;
			position: absolute;
			top: -20%;
			right: -10%;
			opacity: 0;
			transition: $transition;
		}
		h3 {
			transition: $transition;
		}
		h3,
		p {
			text-align: center;
			@media (max-width: $mobileSmall) {
				text-align: left;
			}
		}
		p {
			margin-top: 24px;
			margin-bottom: 24px;
			transition: $transition;
			color: #8d8d8e;
		}
		@media (max-width: $mobile) {
			max-width: 100%;
		}
		&:hover {
			h3 {
				color: #48484a;
			}
			p {
				color: $white;
			}
			.mob-image-ibg {
				opacity: 1;
			}
			[data-lottie] {
				opacity: 1;
			}
		}
	}
	&-ibg {
		overflow: hidden;
		padding-bottom: 50%;
		min-height: 260px;
		height: 70vh;
		@media (max-width: $mobileSmall) {
			height: 260px;
		}
		img {
			height: 120%;
		}
	}
	.mob-image-ibg {
		overflow: hidden;
		border-radius: 20px;
		width: 100%;
		height: 180px;
		margin-top: auto;
		opacity: 0.5;
	}
	h2 {
		text-align: center;
	}
}
