.s-location {
	&-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 32px;
		column-gap: 24px;
		@media (max-width: 1024px) {
			grid-template-columns: repeat(2, 1fr);
			& > div:not(.location-card) {
				display: none;
			}
		}
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
			row-gap: 24px;
		}
	}
}
