@import 'hero';
@import 'about';
@import 'advantages';
@import 'craft';
@import 'team';
@import 'faq';
@import 'stories';
@import 'meet';
@import 'contacts';
@import 'subscribe';

@import 'traiding';
@import 'lines';
@import 'news';
@import 'hover-tabs';
@import 'service';
@import 'benefits';
@import 'place';
@import 'articles';
@import 'manure';
@import 'sertificates';
@import 'blog';
@import 'article';
@import 'gallery';

.s-offset {
	margin-top: 160px;
	@media (max-width: $tablet) {
		margin-top: 80px;
	}
}

.s-headline {
	max-width: 648px;
	margin-bottom: 56px;
	h2,
	h3,
	h4 {
		margin-bottom: 24px;
		@media (max-width: $tablet) {
			margin-bottom: 16px;
		}
	}
	p {
		max-width: 424px;
		margin-bottom: 40px;
	}
	@media (max-width: $tablet) {
		margin-bottom: 40px;
	}
}
