@import 'hero';
@import 'about';
@import 'traiding';
@import 'advantage';
@import 'lines';
@import 'news';
@import 'contacts';
@import 'hover-tabs';
@import 'service';
@import 'benefits';
@import 'place';
@import 'articles';
@import 'manure';
@import 'sertificates';
@import 'blog';
@import 'article';
@import 'gallery';

.s-white {
	color: #1c1c1e;
	background: white;
}
.s-blue {
	color: white;
	background: $blue;
}
.s-offset {
	padding: 40px 0;
	@media (max-width: 1200px) {
		padding: 24px 0;
	}
}
.s-border {
	border: 1px solid #d9d9dc;
	border-radius: 10px;
	padding: 32px 88px 64px 88px;
	&-semetric {
		border: 1px solid #d9d9dc;
		border-radius: 10px;
		padding: 64px 88px 64px 88px;
		@media (max-width: 1200px) {
			padding: 24px 16px;
		}
	}
	@media (max-width: 1200px) {
		padding: 16px;
	}
}
.s-without-border {
	padding: 80px 0;
	@media (max-width: $mobile) {
		padding: 24px 0;
	}
	.s-headline {
		h2 {
			font-weight: 700;
			font-size: 40px;
			line-height: 140%;
			margin-bottom: 32px;
			@media (max-width: $mobile) {
				font-size: 24px;
				margin-bottom: 16px;
			}
		}
		p {
			font-weight: 600;
			font-size: 14px;
			line-height: 160%;
			color: #76777e;
			margin-bottom: 48px;
			@media (max-width: $mobile) {
				margin-bottom: 24px;
			}
		}
	}
}
.s-image {
	width: 100%;
	height: 512px;
	position: relative;
	@media (max-width: $mobileSmall) {
		height: 200px;
	}
	&-small {
		height: 456px;
		@media (max-width: $mobileSmall) {
			height: 200px;
		}
	}
	img {
		@extend %cover;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}
}
.s-headline {
	max-width: 448px;
	@media (max-width: $tablet) {
		max-width: 100%;
	}
	h2 {
		&:not(:last-child) {
			margin-bottom: 32px;
			@media (max-width: $tablet) {
				margin-bottom: 16px;
			}
		}
	}
	h3 {
		font-weight: 700;
		font-size: 24px;
		color: #1c1c1e;
	}
	p {
		&:not(:last-child) {
			margin-bottom: 16px;
			@media (max-width: $tablet) {
				margin-bottom: 8px;
			}
		}
	}
}
