.s-sertificates {
	padding: 40px 0;
	@media (max-width: $mobile) {
		padding: 20px 0;
	}
	&-grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px;
		@media (max-width: $mobile) {
			gap: 24px;
		}
	}
	.s-headline {
		margin-bottom: 32px;
		@media (max-width: $mobile) {
			margin-bottom: 24px;
		}
	}
	.sertificate {
		display: grid;
		grid-template-columns: 312px 1fr;
		gap: 24px;
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
			gap: 12px;
		}
		&:not(:last-child) {
			padding-bottom: 40px;
			border-bottom: 1px solid #ededef;
			@media (max-width: $mobile) {
				padding-bottom: 24px;
			}
		}
		.btn-circle {
			transform: rotate(90deg);
		}
		&-img {
			min-height: 260px;
			border: 1px solid #d9d9dc;
			border-radius: 10px;
			position: relative;
			img {
				width: 100%;
				height: 100%;
				position: absolute;
				inset: 0;
				object-fit: cover;
			}
			@media (max-width: $mobile) {
				min-height: 200px;
			}
		}
		&-text {
			display: flex;
			flex-direction: column;
			max-width: 536px;
			h3 {
				font-weight: 700;
				font-size: 28px;
				line-height: 120%;
				color: #1c1c1e;
				margin-bottom: 16px;
				@media (max-width: $mobile) {
					font-size: 18px;
					margin-bottom: 8px;
				}
			}
			p {
				font-weight: 600;
				font-size: 14px;
				line-height: 160%;
				color: #61616a;
				@media (max-width: $mobile) {
					margin-bottom: 16px;
				}
			}
			.btn {
				margin-top: auto;
			}
		}
	}
}
