.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: 'header' 'main' 'footer';
	& > header {
		grid-column: header;
	}
	& > main {
		z-index: z('wrapper-main');
		grid-column: main;
	}
	& > footer {
		grid-column: header;
	}
}

.p-home {
	.s-hero-text:not(:last-child) {
		margin: 40px 0 auto 0;
	}
}
