.p-service {
	h1 {
		@media (max-width: $mobile) {
			font-size: 48px !important;
		}
	}
	.project-head {
		margin-bottom: 160px;
		@media (max-width: $mobile) {
			margin-bottom: 80px;
		}
	}
	.location-card {
		@media (max-width: $mobile) {
			.location-card-date,
			.page-text {
				display: none;
			}
		}
	}
}
