$white: #ffffff;
$white-10: #f1e8fe;

$black: #000000;
$black-90: #323133;
$black-80: #48484a;
$black-70: #5f5f61;
$black-50: #8d8d8e;
$black-30: #bbbabb;
$black-10: #e8e8e8;

$grey: #989ba4;

$primary-gradient: linear-gradient(89.84deg, #ff1654 1.76%, #2e60fb 103.41%);
$primary-gradient-reverse: linear-gradient(89.84deg, #2e60fb 1.76%, #ff1654 103.41%);
$primary-black: #1b1a1d;
$primary-magneta: #d11547;
$primary-ohra: #f1a327;
$primary-indigo: #3c354f;
$primary-red: #fc1857;
$primary-blue: #3b5cf1;

$magneta-140: #7d0d2b;
$magneta-80: #da446c;
$magneta-60: #e37391;
$magneta-40: #eda1b5;
$magneta-20: #f6d0da;

$ohra-120: #c1821f;
$ohra-80: #f4b552;
$ohra-60: #f7c87d;
$ohra-40: #f9daa9;
$ohra-hover: #ff9900;
$ohra-disabled: #f2cb8d;

$indigo-80: #635d72;
$indigo-60: #8a8695;
$indigo-40: #b1aeb8;
$indigo-20: #d8d7dc;

// del
$orange: #e66c00;
$blue: #1e243f;
$light-blue: #2c3d85;
$main-black: #0a0a0a;
$main-blue: #2c3d85;
$hover-grey: #a8a5a8;
$grey: #f0f4f8;
$red: #cd3131;
